.App {
  text-align: left;
  background-color:rgba(217, 119, 191, 0);
  color: #010101;
}

h1 {
  text-shadow: 2px 2px 8px rgba(1,1,1,0.5);
  font-family: monospace;
  font-size: 50px;
}

.App-view {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: rgba(1, 1, 1, 0.95);
  padding: 50px;
}

.App-link {
  color: #61dafb;
}

header {
  align-items: left;
  padding-left: 50px;
  padding-bottom: 25px;
  background: rgba(217, 119, 191, 0);
}
