.App {
  text-align: left;
  background-color: #010101;
  color: white;
}

.App-view {
  min-height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  align-items: left;
  margin-left: 50px;
}
