body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(217, 119, 191);
  background: linear-gradient(
    80deg,
    rgba(217, 119, 191, 1) 0%,
    rgba(217, 163, 98, 1) 33%,
    rgba(217, 141, 98, 1) 60%,
    rgba(217, 96, 85, 1) 100%,
    rgba(217, 74, 74, 1) 100%
  ); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
